<section class="container-fluid column app-container">
  <mm-header [isCollecting]="isCollectingMovies$|async" [collectables]="collectedMovies$|async" (collectablesSelectionComplete)="toggleCreateListForm()">
  </mm-header>
  <main class="center-xs row">
    <router-outlet></router-outlet>
  </main>
  <mm-add-to-list-form class="col-xs-12"  *ngIf="isMovieListFormShown$|async" [movies]="collectedMovies$|async" (formClosed)="toggleCreateListForm()" (formSubmitted)="addMoviesToList($event)">
  </mm-add-to-list-form>
</section>